%TMPL:INCLUDE{viewtopicactionbuttons}%

%TMPL:DEF{"topicactionbuttons"}%<span class="foswikiRequiresChangePermission"><a rel='nofollow' class="foswikiHallojsEditEnabler">fast edit</a></span>  %TMPL:P{sep}% %TMPL:PREV%%TMPL:END%
